<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjp.dao.LendBookRecordDao">
    <resultMap type="LendBookRecord" id="LendBookRecordResult">
        <result column="studentNum" property="studentNum"/>
        <result column="bookId" property="bookId"/>
        <result column="lendTime" property="lendTime"/>
        <result column="backTime" property="backTime"/>
    </resultMap>
    <select id="lendBookRecordList" resultMap="LendBookRecordResult" parameterType="String">
        select * from lend_book_record
        <if test="condition!='' and condition!=null">
            where studentNum like #{condition} or bookId like #{condition}
        </if> order by lendTime desc
    </select>
    <insert id="lendBook" parameterType="Map">
        insert into lend_book_record(studentNum, bookId, lendTime) values (#{studentNum}, #{bookId}, #{lendTime})
    </insert>
    <update id="giveBack" parameterType="Integer">
        update lend_book_record set backTime = now() where bookId = #{id} and backTime is null
    </update>
    <select id="getLendBookRecordsByStudentNum" resultMap="LendBookRecordResult" parameterType="String">
        select * from lend_book_record where studentNum = #{studentNum} order by lendTime desc
    </select>
</mapper>